{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/input.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/c-logo.png' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <title>
        {% block title %} 
        Srak Educational Consultancy
    {% endblock title %}
    </title>
    {% tailwind_css %}
    
  </head>
  <script>
  window.addEventListener("load", () => {
    const preloader = document.getElementById("preloader");

    setTimeout(() => {
      preloader.classList.add("opacity-0");
      preloader.classList.add("pointer-events-none");

      setTimeout(() => {
        preloader.remove();
      }, 700);

    }, 900);
  });
</script>
  <body >
     <div id="banner"
        class="container mx-auto p-6 py-12 flex justify-between items-center md:h-18 h-14
         rounded-sm  transition-all duration-700 absolute z-50"
      >
    
        <div ><img src="{% static '/images/logo.png' %}" class="h-10 md:h-14 bg-white/30 rounded-b-full" alt="" /> 
         
        </div>
        <button id="mobile-nav" class="z-100 open">
          <img
            id="open"
            src="{% static '/images/icon-hamburger.svg' %}"
            class="md:hidden"
            alt=""
          />
          <img
            id="close"
            src="{% static '/images/icon-close.svg'%}"
            class="md:hidden hidden"
            alt=""
          />
        </button>
 
        <nav
          class="md:flex md:flex-row space-x-8 items-center font-alata hidden"
        >
          <div class="group">
            <a href="#about" class="font-medium p-2 text-white">About us</a>
            <div
              class="group-hover:border-b-2  group-hover:border-b-blue-50"
            ></div>
          </div>
          <div class="group">
            <a href="#universities" class=" px-4 py-2 text-white  uppercase border tracking-wide hover:bg-white hover:text-black border-white rounded-sm mx-auto"
        >Apply Now</a>
            <div
              class="group-hover:border-b-2 group-hover:border-b-blue-50"
            ></div>
          </div>
          
        </nav>

   
         <div id="nav" class="md:hidden fixed inset-0 w-scree min-h-screen bg-black/80  text-white pt-40 hidden z-50
          text-center transition-all duration-500">
         <div class="flex flex-col space-y-6">
          <a href="#about" id="abt" class="hover:bg-white hover:text-black px-6 border py-3">About us</a>
          <a href="#universities" id="apl" class="hover:bg-white hover:text-black px-6 border py-3">Apply Now</a>
          
        </div>
         </div>
         </div>
         
         {% block content %}

         {% endblock %}

          <footer id="footer" class="text-white bg-black mt-12 py-6">
      <div
        class="container flex flex-col mx-auto justify-center items-center md:flex-row md:justify-between"
      >
        <div
          class="flex flex-col space-y-3 justify-center md:items-start-start"
        >
          <div class="logo-container ml-4">
            <img src="{% static '/images/logo.png' %}" class="h-8 md:h-12  bg-white/30 rounded-full" alt="" />
          </div>
          <div class="flex flex-col md:flex-row md:space-x-4">
            <div class="group">
              <a href="#about" class="text-sm  group-hover:border-b ">About Us</a>
            </div>
            <div class="group">
              <a href="#universities" class="text-sm  group-hover:border-b">Apply Now</a>
            </div>
            <div class="group">
              <a href="#testimonials" class="text-sm  group-hover:border-b">Testimonials</a>
            </div>
         
          </div>
        </div>
        <div class="flex flex-col justify-center items-center mt-5 space-y-4">
          <div class="flex space-x-2">
            <img src="{% static '/images/icon-facebook.svg' %}" class="h-4" alt="" />
          
            <a href="https://wa.link/manwme"><img src="{% static '/images/icon-pinterest.svg' %}" class="h-4" alt="" /></a>
            <a href="https://www.instagram.com/srak.education.consultancy?igsh=YXQyNGhqOGh1NzN2"><img src="{% static '/images/icon-instagram.svg' %}" class="h-4" alt="" /></a>
          </div>
          <address class="text-sm">Adress: Shahr Naw, Kabul, Afghanistan</address>
          <a class="text-sm" href="mailto:srakconsultancy@gmail.com">Email: srakconsultancy@gmail.com</a>
          <p class="text-xs text-gray-600">
            &copy; Srak Consultancy all right reserved
          </p>
        </div>
      </div>
    </footer>
      <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>