 {% load static %}
 <!-- Global Container -->
    <div class="container mx-auto max-w-7xl p-2 md:p-10">
      <!-- Grid Container -->
        <h1 class="text-3xl tracking-widest uppercase py-4"> Testimonials </h1>
      <div
        class="grid gap-6 grid-cols-1 text-white md:grid-cols-4 md:grid-rows-2"
      >
        <!-- Box 1 -->
        <div class="relative p-10 rounded-xl bg-linear-to-tr from-amber-400 to-amber-700 md:col-span-2">
          <!-- Quotes Image -->
          <img
            src="{% static 'images/bg-pattern-quotation.svg' %}"
            alt=""
            class="absolute top-3 right-10 scale-125 md:top-7 md:right-24 md:scale-150"
          />
          <!-- Box Header -->
          <div class="flex z-10 space-x-4">
            <img
              src="{% static 'images/sayed.jpeg' %}"
              alt=""
              class="w-10 h-10 rounded-full ring-2 ring-purple-300"
            />
            <div class="text-sm">
              <h4 class="opacity-90">Azam Sayed</h4>
              <p class="opacity-50">Graduated From Bykoz University</p>
            </div>
          </div>

          <!-- Large Text -->
          <p class="relative z-10 mt-6 text-xl">
            Thanks to Srak Educational Consultancy,
             I found the right university and successfully began my
              study abroad journey with confidence.
          </p>

          <!-- Small Text -->
          <p class="mt-6 opacity-50 line-clamp-6">
            "I had always dreamed of studying abroad, but I didn't know where to start.
             After hearing positive experiences from other students, I contacted Srak
              Educational Consultancy and immediately felt reassured. They guided me through
               every step of the application process, from selecting the right university to
                preparing my documents and understanding visa requirements. Their professionalism,
                 patience, and constant support made the journey much easier than I expected. Today,
                  I am pursuing my education in Turkey with confidence and excitement. Looking back, 
                  choosing Srak was one of the best decisions I made for my future. Their dedication to 
                  students truly sets them apart, and I would wholeheartedly recommend their services to 
                  anyone planning to study abroad."
          </p>
        </div>

        <!-- Box 2 -->
        <div class="p-10 rounded-xl bg-linear-to-b from-blue-400 to-blue-950">
          <!-- Box Header -->
          <div class="flex space-x-4">
            <img
              src="{% static 'images/mehbob.jpeg' %}"
              alt=""
              class="w-10 h-10 rounded-full ring-2 ring-purple-300"
            />
            <div class="text-sm">
              <h4 class="opacity-90">Mehboob محبوب خان</h4>
              <p class="opacity-50">Student at UK</p>
            </div>
          </div>

          <!-- Large Text -->
          <p class="mt-6 text-xl">
            The team was very supportive and kept me motivated
          </p>

          <!-- Small Text -->
          <p class="mt-6 opacity-50 line-clamp-5 text-sm">
            "د سراک تعلیمي مشورتي ادارې سره له اړیکې مخکې، زه د بهرنیو زده کړو 
            او د راتلونکي پلان جوړونې په اړه ډېر معلومات نه لرل. دوی 
            راته هر څه په ساده او اسانه ډول تشریح کړل او په هر قدم 
            کې یې لارښوونه وکړه. د دوی د مرستې له امله اوس د خپلو 
            زده کړو او راتلونکي په اړه روښانه لاره لرم او په ډاډ سره 
            مخته ځم. زه له دوی څخه ډېر منندوی یم او هر هغه چا ته یې 
            سپارښتنه کوم چې د زده کړو په اړه سمې مشورې ته اړتیا لري."
      </p>
        </div>

        <!-- Box 3 -->
        <div
          class="hidden p-10 rounded-xl text-gray-900 bg-linear-to-t from-slate-400 to-white md:block md:row-span-2 border border-gray-700"
        >
          <!-- Box Header -->
          <div class="flex space-x-4">
            <img
              src="{% static 'images/nazir.jpeg' %}"
              alt=""
              class="w-10 h-10 rounded-full ring-2 ring-purple-300"
            />
            <div class="text-sm">
              <h4 class="opacity-90">Nazir Shirzad</h4>
              <p class="opacity-50">Programmer</p>
            </div>
          </div>

          <!-- Large Text -->
          <p class="mt-6 text-xl">
            Such a life-changing experience. Highly recommended!
          </p>

          <!-- Small Text -->
          <p class="mt-6 opacity-50">

 قبل از پیوستن به Srak Educational Consultancy، من حتی یک خط کدنویسی هم انجام نداده بودم. به یک ساختار منظم و راهنمایی حرفه‌ای نیاز داشتم تا بتوانم قدم به قدم مسیر یادگیری و تحصیل خود را درست انتخاب کنم.

 یکی از دانشجویان سابق این مجموعه، که فقط از تجربه‌های عالی خود صحبت می‌کرد، من را به ثبت‌نام تشویق کرد. کل برنامه و تیم پشتیبانی فراتر از انتظار من بود. آن‌ها بسیار همراه و در دسترس بودند و هیچ‌وقت برای دریافت کمک معطل نمی‌ماندم.

راهنمایی‌های مرحله‌به‌مرحله و پشتیبانی Srak، مسیر من را کاملاً روشن کرد و باعث شد با اطمینان تصمیم‌های مهم تحصیلی خود را بگیرم. این تجربه واقعاً دید من را نسبت به آینده تغییر داد و آن را به دیگران نیز ۱۰۰٪ توصیه می‌کنم.
!"
          </p>
        </div>

        <!-- Box 4 -->
        <div class="p-10 rounded-xl text-white bg-amber-600">
          <!-- Box Header -->
          <div class="flex space-x-4">
            <img
              src="{% static 'images/jawad.jpeg' %}"
              alt=""
              class="w-10 h-10 rounded-full ring-2 ring-purple-300"
            />
            <div class="text-sm">
              <h4 class="opacity-90">Jawad Haidar</h4>
              <p class="opacity-50">Bachlor at BCS</p>
            </div>
          </div>

          <!-- Large Text -->
          <p class="mt-6 text-xl">
            An overall wonderful and rewarding experience
          </p>

          <!-- Small Text -->
          <p class="mt-6 opacity-50">
            "Thank you, Srak Educational Consultancy, for the wonderful experience!
             I now feel confident in my academic path and future studies, and I’m truly
              grateful for your guidance and support in helping me choose the right direction
               for my education and career."
          </p>
        </div>

        <!-- Box 5 -->
        <div class="p-10 rounded-xl bg-linear-to-tr from-blue-600 to-blue-950 md:col-span-2">
          <!-- Box Header -->
          <div class="flex space-x-4">
            <img
              src="{% static 'images/image-patrick.jpg' %}"
              alt=""
              class="w-10 h-10 rounded-full ring-2 ring-purple-300"
            />
            <div class="text-sm">
              <h4 class="opacity-90">Irfan Ibrahimkhail</h4>
              <p class="opacity-50">Master at Business</p>
            </div>
          </div>

          <!-- Large Text -->
          <p class="mt-6 text-xl">
           Their guidance made everything clear,
            and learning from their experience was easy and helpful.
          </p>

          <!-- Small Text -->
          <p class="mt-6 opacity-50">
            "The team at Srak Educational Consultancy genuinely 
            cares about my progress, which I find really refreshing.
            Their guidance gave me the confidence to move forward in my 
            academic journey and present myself with clarity and purpose.
            The support is truly above the rest, with personal attention
            and an incredible community of knowledgeable and helpful people."
          </p>
        </div>

        <!-- Box 6 -->
        <div class="p-10 rounded-xl text-gray-900 bg-linear-to-t from-slate-400 to-white md:hidden">
          <!-- Box Header -->
          <div class="flex space-x-4">
            <img
              src="{% static 'images/nazir.jpeg' %}"
              alt=""
              class="w-10 h-10 rounded-full ring-2 ring-purple-300"
            />
            <div class="text-sm">
              <h4 class="opacity-90">Nazir Shirzad</h4>
              <p class="opacity-50">Programmer</p>
            </div>
          </div>

          <!-- Large Text -->
          <p class="mt-6 text-xl">
            Such a life-changing experience. Highly recommended!
          </p>

          <!-- Small Text -->
          <p class="mt-6 opacity-50">
           
 قبل از پیوستن به Srak Educational Consultancy، من حتی یک خط کدنویسی هم انجام نداده بودم. به یک ساختار منظم و راهنمایی حرفه‌ای نیاز داشتم تا بتوانم قدم به قدم مسیر یادگیری و تحصیل خود را درست انتخاب کنم.

 یکی از دانشجویان سابق این مجموعه، که فقط از تجربه‌های عالی خود صحبت می‌کرد، من را به ثبت‌نام تشویق کرد. کل برنامه و تیم پشتیبانی فراتر از انتظار من بود. آن‌ها بسیار همراه و در دسترس بودند و هیچ‌وقت برای دریافت کمک معطل نمی‌ماندم.

راهنمایی‌های مرحله‌به‌مرحله و پشتیبانی Srak، مسیر من را کاملاً روشن کرد و باعث شد با اطمینان تصمیم‌های مهم تحصیلی خود را بگیرم. این تجربه واقعاً دید من را نسبت به آینده تغییر داد و آن را به دیگران نیز ۱۰۰٪ توصیه می‌کنم.
!"
          </p>
        </div>
      </div>
    </div>