

#hero {
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;

}

html {
  scroll-behavior: smooth;
}

@media(max-width:576px) {
  #hero {
    background-image: url(../images/mobile-hero.png);

    background-position: center;
  }
}

